@import url('https://fonts.googleapis.com/css?family=Abel|Yanone+Kaffeesatz&display=swap');

/*--------------------------------GENERAL FORMATING------------------*/

h1{
    font-family: 'Yanone Kaffeesatz', sans-serif;    
}

.text{font-family: 'Abel', sans-serif;
    }

.black{
    background-color: #000000;
}

.white{
    color: #fafafa;
}

/*--------------------------------NAV BAR------------------*/

.navbar{
    background-color: #000000;
    margin:0 auto;
}

.nav-link{
    color: #fafafa;
    font-size: 52px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

/*--------------------------------VIDEO------------------*/

.video{
    background:url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    margin-bottom: 0;
}

/*--------------------------------ABOUT US------------------*/

.bio-text{
    font-family: 'Abel', sans-serif;
    font-size: 40px;
    }

/*--------------------------------TOUR DATES------------------*/

.tickets{  
  color: #000000;  
  text-transform: none;
  border: 1px solid transparent;
  }

.tickets a{
    color: #000000;
    text-align: center;
}

/*--------------------------------GALLERY------------------*/
.thumb{
        margin-bottom: 30px;
        margin-top: 30px;
}
        
.page-top{
         margin-top:85px;
}

   
img.zoom {
    width: 100%;
    height: 200px;
    border-radius:5px;
    object-fit:cover;
    }

/*--------------------------------CONTACT US------------------*/

/*--------------------------------FOOTER------------------*/
.footer{
    font-family: 'Abel', sans-serif;
}

.social-links li a i{
    width: 100%;
    height: 50px;
    padding: 20px 0;
    border-radius: 50%;
    font-size: 42px;
    line-height: 10px;
    text-align: center;
    color: #000000;
    background-color: #fafafa;    
}